/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.ant-btn-primary {
    background-color: #1890ff;
    border-color: #1890ff;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
    background-color: #40a9ff;
    border-color: #40a9ff;
}

.ant-btn-primary:active,
.ant-btn-primary.active {
    background-color: #096dd9;
    border-color: #096dd9;
} */